@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

@theme {
--color-hippie-pink-50: #fcf4f4;
--color-hippie-pink-100: #f9eaea;
--color-hippie-pink-200: #f3d8d9;
--color-hippie-pink-300: #e9b8ba;
--color-hippie-pink-400: #dc9095;
--color-hippie-pink-500: #cb6871;
--color-hippie-pink-600: #b54958;
--color-hippie-pink-700: #a73f50;
--color-hippie-pink-800: #7f3241;
--color-hippie-pink-900: #6d2e3c;
--color-hippie-pink-950: #3c151d;

}
