@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

@theme {
  --color-mindaro-50: #f9fde8;
  --color-mindaro-100: #effacd;
  --color-mindaro-200: #d9f38b;
  --color-mindaro-300: #c9ec6a;
  --color-mindaro-400: #b1df3c;
  --color-mindaro-500: #92c51d;
  --color-mindaro-600: #729d13;
  --color-mindaro-700: #567813;
  --color-mindaro-800: #465f15;
  --color-mindaro-900: #3c5017;
  --color-mindaro-950: #1e2c07;
}

.btn-bordered {
  @apply inline-block rounded-sm border py-3 text-sm font-medium hover:text-white focus:ring-3 focus:outline-hidden;
}

.primary-bordered {
  @apply border-mindaro-600 text-mindaro-600 hover:bg-mindaro-600;
}
