<div class="flex grow">
  <div class="flex w-1/2 justify-end items-center ml-10">
    <%= image_tag 'landing.svg', class: 'h-150' %>
  </div>
  <div class="flex flex-col justify-center ml-10">
    <h1 class="font-balsamiq text-cadillac-400 font-bold text-7xl relative">
      Готуй легко –
      <br>
      зі Смакотою
      <%= image_tag 'line.svg', class: 'absolute top-15 right-10 w-100' %>
      <br>
      все під рукою!
    </h1>
    <ul class="font-nunito mt-5 list-disc list-inside">
      <li>Легко перевіряй, чи маєш усі необхідні інгредієнти</li>
      <li>Створюй список покупок у кілька кліків</li>
      <li>Зберігай улюблені рецепти в одному місці</li>
      <li>Плануй збалансоване меню на кожен день</li>
    </ul>
    <div class="self-center mt-5 text-2xl"><%= link_to 'Доєднатися', '/', class: 'bg-cadillac-500 py-3 px-5 btn' %></div>
  </div>
</div>
<div class="flex self-center flex-1">
  <h2 class="text-cadillac-400 font-bold text-3xl font-balsamiq">
    Легке планування, зручне приготування, смачний результат! 😌👩‍🍳
  </h2>
</div>
