<div class="flex grow justify-center">
  <div class="flex flex-col w-1/2 justify-center items-end">
    <%= render 'animation' %>
    <%= render 'shared/storyset' %>
  </div>
  <div class="flex flex-col justify-center ml-10">
    <h1 class="text-mindaro-500 font-bold leading-none tracking-tight mx-auto w-full text-2xl lg:max-w-3xl lg:text-5xl italic group-hover:border-b-2 group-hover:border-black">
      Готуй легко –
      <br>
      зі <span>Смакотою</span>
      <br>
      все під рукою!
    </h1>
    <ul class="font-light leading-relaxed mx-auto lg:text-lg text-base max-w-3xl mt-5 list-disc list-inside">
      <li>Легко перевіряй, чи маєш усі необхідні інгредієнти</li>
      <li>Створюй список покупок у кілька кліків</li>
      <li>Зберігай улюблені рецепти в одному місці</li>
      <li>Плануй збалансоване меню на кожен день</li>
    </ul>
    <small class="my-3 self-center text-gray-500">Відкритий код на <a href="https://github.com/asbtn/smakota" class="underline">Github</a></small>
    <%= render "sessions/form" %>
  </div>
</div>
