<div class="flex grow justify-center">
  <div class="flex flex-col w-1/2 justify-center items-end">
    <%= image_tag 'landing.svg', class: 'h-150 w-full' %>
    <small class="text-mindaro-500">Image by <a href="https://www.freepik.com/free-vector/morning-essentials-concept-illustration_7556621.htm#from_element=detail_alsolike" class="underline">storyset</a> on Freepik</small>
  </div>
  <div class="flex flex-col justify-center ml-10">
    <h1 class="text-mindaro-500 font-bold leading-none tracking-tight mx-auto w-full text-2xl lg:max-w-3xl lg:text-5xl italic group-hover:border-b-2 group-hover:border-black">
      Готуй легко –
      <br>
      зі <span>Смакотою</span>
      <br>
      все під рукою!
    </h1>
    <ul class="font-light leading-relaxed mx-auto lg:text-lg text-base max-w-3xl mt-5 list-disc list-inside">
      <li>Легко перевіряй, чи маєш усі необхідні інгредієнти</li>
      <li>Створюй список покупок у кілька кліків</li>
      <li>Зберігай улюблені рецепти в одному місці</li>
      <li>Плануй збалансоване меню на кожен день</li>
    </ul>
    <small class="my-3 self-center text-gray-500">Відкритий код на <a href="https://github.com/asbtn/smakota" class="underline">Github</a></small>
    <%= render "sessions/form" %>
  </div>
</div>
<div class="flex self-center flex-1">
  <h2 class="text-mindaro-500 font-light leading-snug tracking-tight mx-auto mb-4 w-full text-2xl lg:text-4xl">
    Легке планування, зручне приготування, смачний результат! 😌👩‍🍳
  </h2>
</div>
